<ion-header>
  <ion-toolbar>
    <ion-title>Vehicle Scanner</ion-title>
    <ion-progress-bar *ngIf="isProcessing" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

 <div class="center-content">
  
  <!-- Display the captured image -->
  <div *ngIf="capturedImage" class="image-container">
    <h2>Captured Image:</h2>
    <img [src]="capturedImage" alt="Captured Image" />
  </div>
  
  <!-- Display the scanned text -->
  <ion-card *ngIf="scannedText">
    <ion-card-header>
      <ion-card-title>Scanned Text:</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{ scannedText }}
    </ion-card-content>
  </ion-card>
  <ion-button (click)="scanImage()" class="take-img-button">Take Picture</ion-button>
 </div>